#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 50px;
  padding-left: 23px;
}

#ok {
  margin-left: 10px;
}

#no {
  margin-left: 5px;
}

#prize-container {
  width: 350px;
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  float: right;
}

#log-info {
  width: 375px;
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  float: right;
  margin: 10px 0 0 10px;
}

#inventory, #log {
  font-size: larger;
  text-decoration: underline;
}

#name {
  font-size: 16px;
  text-align: center;
}

#fight-intro {
  font-weight: bold;
}

#buttons {
  margin-left: 350px;
}

#north {
  margin-bottom: 5px;
  margin-left: 7px;
}

#west {
  margin-right: 1px;
}

#east {
  margin-left: 1px;
}

.explored {
  font-size: 12px;
}

.monster, .prize, .potion {
  font-size: 14px;
}
